html, body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  height: 100%;
  margin: 0;
  touch-action: none;
}

.header {
  position: sticky;
  display: none;
  width: 100%;
  height: 6vh;
  color: black;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.6vh;
  font-weight: bold;
  z-index: 1;
  animation: remove 0.2s linear;
}

.header p {
  transform: scaleY(1.2);
  letter-spacing: 0.1px;
}

.header img {
  position: absolute;
  top: 30%;
  left: 3%;
  height: 40%;
  filter: brightness(0) invert(0);
}

.props {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.props-btns {
  width: 95%;
  background-color: #e6e6e6;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.props input[type="radio"] {
  display: none;
}

.props-btn-one,
.props-btn-two {
  display: inline-flex;
  text-align: center;
  width: 50%;
}

.props label {
  display: flex;
  cursor: pointer;
  width: 92%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  justify-content: center;
  text-align: center;
  transition: background-color 0.2s, transform 0.2s;
}

.props input[type="radio"]:checked + label {
  background-color: rgb(255, 255, 255);
  border-color: black;
}

