.switch-container {
    position: -webkit-sticky; /* Для старых версий Safari */
    position: sticky;
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 0;
    overflow: hidden;
    flex-direction: column;
    height: 6vh;
    transition: transform 0.3 ease-in-out;
    touch-action: none;
    animation: remove 0.2s linear;
  }

  @keyframes showUdo {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0%);
    }

  }

  .main-components {
    display: inline-flex;
    width: 200vw;
    height: auto;
    transition: all 0.2s linear;
  }

  .switch {
    display: flex;
    width: 92%;
    height: 4vh;
    border-radius: 10px;
    background-color: gray;
    position: relative;
    transition: background-color 0.3s ease;
    overflow: hidden;
  }
  
  .switch.on {
    background-color: rgb(230, 230, 230);
    z-index:1;
  }

  .switch.off {
    background-color: rgb(230, 230, 230);
  }
  
  .toggle {
    width: 50%;
    height: 90%;
    background-color: white;
    border-radius: 9px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in;
    z-index: 2;
  }
  
  .switch.on .toggle {
    left: 49.2%;
  }
  
  .switch-text {
    position: absolute;
    width: 50%;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    z-index: 3; 
  }
  
  .switch-text-on {
    left: 0; 
  }
  
  .switch-text-off {
    right: 0; 
  }

  .req-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin-top: 0%;
    margin-left: 2%;
    animation: show 0.2s linear;
}

  @keyframes show {
    from {
      transform: translateX(100%);
    }
    
    to {
      transform: translateX(0%);
    }
  }

  .containers {
    padding-top: -1;
  }


  .label {
    font-size: 0.7em;
    padding-top: 3vh;
    color: #969696;
    font-family:Arial, Helvetica, sans-serif;
  }

  .fio-label {
    padding: 0;
    margin-top: 2vh;
  }
  
  .input {
    width: 90%;
    position: absolute;
    padding: 0;
    padding-top: 0.9vh;
    padding-bottom: 0.5vh;
    font-size: 0.85em;
    z-index: 1;
    height: 1vh;
    margin-top: -1vh;
    outline: none;
    border: none
  }

  .copy-image {
    position: absolute;
    margin-left: 90vw;
    margin-top: -1.5vh;
    height: 0.8em;
    width: 1em;
    transform: scaleX(-1);
  }

  
  .input:focus {
    outline: none;
    border: none;
  }
  
  .input::placeholder {
    color: rgb(56, 56, 56);
  }

  .image-upload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  .fill-req {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 5vw;
  }

